{% extends "layout.html" %}

{% block title %}
    MyGroups
{% endblock %}

{% block main %}

{% if error == True %}
<div class="alert alert-warning" role="alert">
  <b>Error:</b> Start time cannot be in the past and must be before end time.
</div>
{% endif %}

<div id="grouphome">
    <h1 align="left">{{group['name']}}</h1>
    <h4 align="left" class="gray">{{group['course']}} (Size: {{group['size']}}/{{group['maxsize']}})</h4>
    {% if group['description'] != '' %}
        <p align="left"> <b>Description:</b> {{group['description']}}</p>
    {% endif %}
    <p align="left"><a href="{{group['groupme']}}" target="_blank"> <b>GroupMe Link</b> </a></h4>

    <div id="events-block">
        <h4 align="left">Upcoming Events</h4>

        {% if group["events"]|length == 0 %}
        <p align="left" class="gray">Looks like your group has no scheduled events. Click below to create one!</p>

        {% else %}
        <table class="table table-striped" id="events-table">
          <thead>
            <tr>
              <th scope="col">Start</th>
              <th scope="col">End</th>
              <th scope="col">Purpose</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            {% for event in group["events"] %}
                <tr>
                  <td>{{event["start"]}}</td>
                  <td>{{event["end"]}}</td>
                  <td>{{event["purpose"]}}</td>
                  <td>{{event["location"]}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}


  <!-- Trigger the modal with a button -->
  <div class="left">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Create Event</button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create new event</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

        <form method="post" action="/groups">

        <div class="form-group dropdown">
        <select required name="purpose" class="form-control">
              <option selected disabled value="">Purpose</option>
              <option value="Problem Set">Problem Set</option>
              <option value="Exam Review">Exam Review</option>
              <option value="Group Study">Group Study</option>
              <option value="Reading">Reading</option>
              <option value="Other">Other</option>
        </select>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="description" placeholder="Description" type="text">
        </div>

            <div class='col-md-6'>
               <div class="form-group">
                  <label class="control-label">Starting time</label>
                  <div class='input-group date' id='datetimepicker1'>
                     <input required autocomplete="off" name="start" type='text' class="form-control">
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                  </div>
            </div>
            </div>

            <div class='col-md-6'>
               <div class="form-group">
                  <label class="control-label">Ending time</label>
                  <div class='input-group date' id='datetimepicker2'>
                     <input required autocomplete="off" name="end" type='text' class="form-control">
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                  </div>
            </div>
            </div>

        <div class="form-group">
            <input required autocomplete="off" class="form-control" name="location" placeholder="Location" type="text">
        </div>

        <div class="form-group">
            <input class="btn btn-info" type="submit" value="Submit">
        </div>

        <input type="hidden" name="create-event" value="True">
        <input type="hidden" name="group-id" value="{{group['id']}}">
        </div>

        </form>
      </div>

    </div>
  </div>

  <div id="members-block">
    <h4 align="left">Members</h4>
    <table class="table table-striped" id="members-table">
      <tbody>
        {% for member in group["members"] %}
            <tr>
              <td>{{member["name"]}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

<script>
  $(function () {
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
 });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> <!-- TODO: Problematic, messes up CSS -->

{% endblock %}