<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/books/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>StudyGroupMe</title>
                <style>
            body{
              background-image: url('/static/photo.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
                }
                </style>
    </head>
    <body id="bodyindex">
        <div>
            <h1 id = "index">StudyGroupMe</h1>
            <form action="/" method="post">
                <p id="heading1">Log in to organize study groups with your friends!</p>
                <div id= buttona>
                    <button type="submit" class="btn btn-light btn-lg">Log In</button>
                </div>
            </form>
        </div>
    </body>

</html>
