{% extends "layout.html" %}

{% block title %}
    Join Group
{% endblock %}

{% block main %}
<div id="error-block">
  {% if error == true %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="join-alert">
      <b>Error:</b> Could not join group.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% elif error == false %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="join-alert">
      Joined group successfully!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
</div>

<body onload="renderCalendar({{courses[0]['id']}})">

<div class="sidenav">
  {% for course in courses %}
  <div class="course_box">
    <a href="#" onclick="renderCalendar({{course['id']}})">{{course['subject']}} {{course['courseno']}}</a>
  </div>
  {% endfor %}
</div>

<div class="main" id="calendar-div">
</div>

<script>
  function renderCalendar(course_id)
  {
    let calendar_id;
    calendars = JSON.parse('{{ calendars | safe }}');
    for (let i = 0; i < calendars.length; i++)
    {
      let calendar = calendars[i];
      if (calendar['course_id'] === course_id)
      {
        calendar_id = calendar['id'];
      }
    }
    iframe = '<iframe src="https://calendar.google.com/calendar/embed?src=' + calendar_id + '&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>';
    document.querySelector('#calendar-div').innerHTML = "<p id='text_join'>For each class, you can find all the study events in the calendar below. Click on an event to see the description and an option to join the group.</p>" + iframe;

  }

</script>

</body>


{% endblock %}
